<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
  Trazado de operaciones .NET,
  modifica "initializeData" de los nodos "add" para apuntar a una ruta existente y con permisos,
  todo el nodo <system.diagnostics> debe ser pegado como hijo de configuration.
  
  
  -->
  <!--INICIO ********************************************************************************************* -->
  <system.diagnostics>
    <sources>
      <source name="System.Net"  tracemode="protocolonly" maxdatasize="2048">
        <listeners>
          <add name="dhfLogWeb"/>
        </listeners>
      </source>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true" >
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="messages"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="System.Net" value="Verbose"/>
      <add name="System.Net.Cache" value="Verbose"/>
      <add name="System.Net.Http" value="Verbose"/>
      <add name="System.Net.Sockets" value="Verbose"/>
      <add name="System.Net.WebSockets" value="Verbose"/>
    </switches>
    <sharedListeners>
      <add name="System.Net"
        type="System.Diagnostics.TextWriterTraceListener"
        initializeData="network.log"
        traceOutputOptions="ProcessId, DateTime"/>
      
      <!--Debido a que se esta inspeccionando practicamente todas las operaciones, es bueno dividir en archivos, ver sobre todo dhf_web.svclog, 
      cambia el valor de "initializeData" a rutas de archivos de tu equipo, recuerda tener permisos para escribir.-->
      <add name="dhfLogWeb" type="System.Diagnostics.TextWriterTraceListener"  initializeData="C:\logs\dhf_web.svclog"/>
      <add name="MyConsole" type="System.Diagnostics.ConsoleTraceListener" />
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\logs\Traces.svclog" />
      <add name="messages" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\logs\Messages.svclog"/>
    </sharedListeners>
    <trace autoflush="true"/>
  </system.diagnostics>
  <!--FIN ********************************************************************************************* -->

  <!--Inicio configuración aplicación. -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SIFEIPortBinding" />
        <!-- Binding para nueva cancelacion -->
        <binding name="CancelacionPortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <!--End point de timbrado, nota se controla con TipoTimbrado(en codigo) la URL. -->
      <endpoint address="http://192.168.16.251:8080/DESKTOP33/SIFEI" binding="basicHttpBinding" bindingConfiguration="SIFEIPortBinding" contract="srvSifeiTimbrador.SIFEI" name="SIFEIPort" />
      <!--End point de cancelacion, nota se controla con TipoTimbrado(en codigo) la URL. -->
      <endpoint address="http://devcfdi.sifei.com.mx:8888/CancelacionSIFEI/Cancelacion" binding="basicHttpBinding" bindingConfiguration="CancelacionPortBinding" contract="srvSifeiCancelacion2018.Cancelacion" name="CancelacionPort" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.XPath" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
